@model WebCegMVC1.Models.modellMunkatars

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Munkatárs felvétele</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nev" class="control-label"></label>
                <input asp-for="nev" class="form-control" />
                <span asp-validation-for="nev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="varos" class="control-label"></label>
                <input asp-for="varos" class="form-control" />
                <span asp-validation-for="varos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beosztas" class="control-label"></label>
                <input asp-for="beosztas" class="form-control" />
                <span asp-validation-for="beosztas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nyelvtudas" class="control-label"></label>
                <input asp-for="nyelvtudas" class="form-control" />
                <span asp-validation-for="nyelvtudas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
